{#<div class="icon-text-block">#}
  {#<div{{ attributes }}>#}
  {##}
    {#{{ title_prefix }}#}
    {#{% if label %}#}
      {#<h2{{ title_attributes }}>{{ label }}</h2>#}
    {#{% endif %}#}
    {#{{ title_suffix }}#}
    {##}
    {#{{ content }}#}
    {##}
  {#</div>#}
{#</div>#}
{% set title_attributes = title_attributes.addClass('index-widget__title') %}
<div class="index-widget">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</div>
