{% set attributes = attributes.addClass('teaser') %}
<article{{ attributes }}>
  <div class="usa-width-one-fourth">
    <div class="teaser__image-wrap">
      {{ content.field_image }}
    </div>
  </div>
  <div class="usa-width-three-fourths">
    <h2 class="teaser__title"><a class="teaser__title-link" href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ label }}</a></h2>
    <h2 class="teaser__body">{{ content.body }}</h2>
    <a class="teaser__content-link" href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ 'View More >'|t }}</a>
  </div>
</article>

